{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Interview Response Forum</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if not user.is_authenticated %}
    <a class="navbar-brand" href=" {% url 'login'  %}">Login</a>
    <a class="navbar-brand" href=" {% url 'register'  %}">Signup</a>
    {% else %}
    <a class="navbar-brand">Logged in as <strong>{{ user.get_username }}</strong> </a> 
    <a class="navbar-brand" href=" {% url 'logout'  %} ">Logout</a>
    <a class="navbar-brand" href=" {% url 'login'  %} ">Login as someone else</a>
    {% endif %}
  </nav>
  
  <main role="main">
  
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Response Forum</h1>
        <p>This is an app to share and view interview experiences</p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>View other people's experiences</p>
          <p><a class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);" href=" {% url 'all_responses' %} " role="button">View &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <p>Add your interview experience</p>
          <p><a class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);" href=" {% url 'new_response' %} " role="button">New &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>

  
</body>
</html>
{% endblock %}