{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Response List</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if user.is_authenticated %}
    <a class="navbar-brand">Logged in as {{ user.get_username }}</a> <a class="navbar-brand" href="/accounts/logout/">Logout</a>
    {% else %}
    <a class="navbar-brand" href="/accounts/login/">Login</a>
    <a class="navbar-brand" href="/accounts/signup/">Signup</a>
    {% endif %}
  </nav>

  {% for response in responses%}
  <main role="main" class="container">
    <div class="jumbotron">
      <h2>{{ response.profile }} at {{ response.company }}</h2>
      
      <h3 class = "text-muted">Added by : {{ response.name }} </h3>  
      <a class="btn btn-lg btn-primary" href="{% url 'view_response' response.id %}" role="button">View response &raquo;</a>
      <div class="col-lg-0 col-sm-2" style="float:right;">
        <div class="row align-middle justify-content-center d-flex p-2">
          {% if response.name.pk == user.pk %}
            <p class="small" style="vertical-align: middle;">
            <a href="{% url 'delete_response' response.id %}" class="text-muted">Delete</a>
            <a href="{% url 'update_response' response.id %}" class="text-muted">Edit</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <br><br>
  {% endfor %}
  <div class="container">    
    <nav aria-label="Page navigation list-group-item list-group-item-action">
    <ul class="pagination pagination-sm mt-5">
      {% if contacts.has_previous %}
      <li class="page-item">
        <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link bg-light text-primary border-primary" href="?page={{ responses.number }}">1</a></li>
  
        {% if responses.has_next %}
        <li class="page-item">
        <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
        </li>
        <li class="page-item">
        <a class="page-link bg-light text-primary border-primary" href="?page={{ responses.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">Last</span>
        </a>
        </li>
        {% endif %}
        </ul>
      </nav>
    </div>
</body>
</html>
{% endblock %}