<!DOCTYPE html>
<html>
{% load static %}
{% load widget_tweaks %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>View response  -  Interiew Response Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="header-blue" style="color: rgb(255,255,255);font-family: 'DM Sans', sans-serif;height: 449px;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="" style="font-family: 'DM Sans', sans-serif;font-weight: 800;font-size: 25px;">InterviewResponseForum</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-unlock-alt"></i>&nbsp; HOME</a></li>
                      {% if not user.is_authenticated %}
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i>&nbsp; &nbsp;LOGIN</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}"><i class="fa fa-sign-in"></i>&nbsp; SIGNUP</a></li>
                      {% else %}
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}"><i class="icon ion-ios-contact-outline"></i>&nbsp; Logged in as {{ user.username }}</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp; LOGOUT</a></li>
                      {% endif %}
                    </ul>
            </div>
    </div>
    </nav>
    <div class="container">
        <div class="row" style="margin: 50px 15px 20px;">
            <div class="col" style="margin: 60px 40px 16px;">
                <p style="font-size: 22px;font-family: 'DM Sans', sans-serif;margin: -16px 0px 10px;">{{response.profile}} at {{response.company}}</p>
                <p style="font-size: 18px;font-family: 'Source Sans Pro', sans-serif;font-weight: 300;">Posted by {% if user.pk == response.name.pk %}you{%else%}{{response.name}}{% endif %} on {{response.timestamp}}</p>
                {% if response.name.pk == user.pk %}
                <a class="btn btn-light btn-lg action-button" type="button" style="margin: 10px 20px 19px;" href="{% url 'update_response' response.id %}" >Edit response</a>
                <a class="btn btn-light btn-lg action-button" type="button" style="margin: 10px 20px 19px;" href="{% url 'delete_response' response.id %}">Delete response</a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <article style="margin: 17px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-left">
                            <h4 class="card-title">Number of rounds</h4>
                            <p class="card-text">{{response.rounds}}</p><hr>
                            <h4 class="card-title">Questions asked</h4>
                            <p class="card-text">{{response.questions|linebreaks}}</p><hr>
                            <h4 class="card-title">Company's offer</h4>
                            <p class="card-text">{{response.offer}}</p><hr>
                            <h4 class="card-title">Author's review</h4>
                            <p class="card-text">{{response.review|linebreaks}}</p><hr>
                          <h4 class="card-title" >Rating</h4>
                          <p class="card-text" style="color: gold;">{{response.rating}} / 10</p><hr>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 50px 0px 16px;">
                <div class="col-md-10 col-lg-8 mx-auto" style="width: 500;">
                    {% if comments.count > 0 %}
                        <p style="margin: 0px 0px 16px;font-size: 20px;font-family: 'DM Sans', sans-serif;"> {{ comments.count }} comments</p>
                    {% else %}
                        <p style="margin: 0px 0px 16px;font-size: 20px;font-family: 'DM Sans', sans-serif;">Be the first one to comment</p>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <button href="{% url 'login' %}" class="btn btn-dark btn-lg btn-outline-info rounded-pill" type="button" style="margin: 0px 0px 16px;background-color: rgba(232,237,96,0);color: #00bce2;">Login or signup to comment</button>
                    {% endif %}
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">Your comment has been recorded</div>
                    {% else %}
                        <h3>Leave a comment</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" style="width: 500px;">{% render_field comment_form.body class="border rounded-0" type="text" style="width: 0500px;height: 100px;" %}</div>
                                </div>
                            </div>
                            <div class="col text-center"><input class="btn btn-dark btn-lg rounded-pill btn-outline-success submitBtn" type="submit" name="submit" value="Submit" id="submit"></div>
                        </form>
                    {% endif %}  
                    <div class="card">
                        {% for comment in comments %}
                            <div class="card-body">
                                <h4 class="card-title">{{comment.body}}</h4>
                                <p class="card-text">Comment by {{comment.username}} on {{comment.created_on}}</p>
                                {% if user.pk == comment.username.pk %}
                                    <button href="{% url 'edit_comment' comment.id %}" class="btn btn-light btn-lg action-button rounded-pill" type="button" style="margin: 0px 20px 19px;background-color: rgba(153,153,153,0);">Edit comment</button>
                                    <button href="{% url 'delete_comment' comment.id %}" class="btn btn-light btn-lg action-button rounded-pill" type="button" style="margin: 0px 20px 19px;background-color: rgba(153,153,153,0);">Delete comment</button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div></div>
    <footer style="margin: 50px 0px 0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3 style="font-family: Cookie, cursive;font-size: 39px;"></h3>
                <p class="links" style="font-family: Cookie, cursive;font-size: 28px;font-weight: 500;margin: -25px -2px 5px;">InterviewResponseForum</p>
                <p class="company-name">Interview Response Forum © 2020 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span" style="font-family: Andika, sans-serif;">NIT Durgapur</span> Durgapur, India</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left" style="font-size: 16px;width: 145px;">+91 9433828328&nbsp;&nbsp;</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>nikhilkumar654231@gmail.com</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Built and designed single-handedly, this is one of my first projects</p>
                <div class="social-links social-icons"><a href="https://github.com/kumanik5661/InterviewResponseForum"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>