{% block content%}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Response</title>
</head>
<body>
  <nav  class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if not user.is_authenticated %}
    <a class="navbar-brand" href=" {% url 'index'  %} ">Home</a>
    <a class="navbar-brand" href=" {% url 'login'  %}">Login</a>
    <a class="navbar-brand" href=" {% url 'register'  %}">Signup</a>
    {% else %}
    <a class="navbar-brand" href=" {% url 'index'  %} ">Home</a>
    <a class="navbar-brand">Logged in as <strong>{{ user.get_username }}</strong> </a> 
    <a class="navbar-brand" href=" {% url 'logout'  %} ">Logout</a>
    <a class="navbar-brand" href=" {% url 'login'  %} ">Login as someone else</a>
    {% endif %}
  </nav>
  <main role="main">
  
    <div class="jumbotron" style="background-color: rgb(189, 206, 252);" >
      <div class="container">
        <h2 class="display-3" style="color:rgb(0, 89, 255)"> {{response.profile}} at {{response.company}} </h2>
        <h6 class="text-muted"> Added by: {{response.name}} on {{response.timestamp}} </h6>
        <p> Salary offered Rs.{{response.offer}} </p>
        <p> Number of rounds {{response.rounds}} </p>
        <h4 class="text-weight-bold" style="color:rgb(112, 112, 112)"> Questions asked:</h4>
        <p> {{response.questions}} </p>
        <h4 class="text-weight-bold" style="color:rgb(112, 112, 112)"> Author's take: </h4>
        <p> {{response.review}} </p>
        <p> Views : {{response.hits}}</p>
        {% if response.name.pk == user.pk %}
            <p  style="vertical-align: middle;">
            <a href="{% url 'delete_response' response.id %}" class="text-muted">Delete</a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'update_response' response.id %}" class="text-muted">Edit</a></p>
          {% endif %}
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="display:inline-flexbox">
          <p><a class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);" href=" {% url 'all_responses' %} " role="button">View all &raquo;</a>
          <a class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);" href=" {% url 'new_response' %} " role="button">Add yours &raquo;</a></p>
        </div>
      </div>
  
      <hr>
      
      {% if comments.count > 0 %}
              <h4>{{ comments.count }} comments</h4>
      {% else %}
              <h4>Be the first one to comment</h4>      
        {% endif %}

      <!-- sasta CommentForm -->
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">Login or Signup to comment</a>
          {% endif %}
          {% if new_comment %}
          <div class="alert alert-success" role="alert">
            Your comment has been recorded
          </div>
          {% else %}
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);" type="button" name="button">Submit</button>
          </form>
          {% endif %}
          
          <br>
              <!-- comments -->              
              {% for comment in comments %}
              <div class="jumbotron" style="background-color: rgb(210, 220, 248);" style="padding: 10px;">
                <p><span class="text-muted">Commment by
                <span class="font-weight-bold">
                  {{ comment.username }}
                  <span class="font-weight-normal">
                    added on {{ comment.created_on }}
                  </span>
                  </span>
                </p>
                {{ comment.body | linebreaks }}
                <!-- edit and delete options   -->
                {% if comment.username.pk == user.pk %}
                <div class="col">
                  <a href="{% url 'delete_comment' comment.id %}" style="vertical-align: middle;">
                  <small class="text-muted">Delete</small><br><br><i class="fas fa-trash-alt fa-lg text-center"></i></a>
                </div>
                <div class="col">
                  <a href="{% url 'update_comment' comment.id %}" style="vertical-align: middle;" >
                  <small class="text-muted">Edit</small><br><br><i class="fas fa-edit fa-lg text-center"></i></a>
                </div>
              {% endif  %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /container -->
  
  </main>
</body>
</html>
{% endblock %}