<!DOCTYPE html>
<html>
{% load widget_tweaks %}
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create or Edit Experience  -  Interview Response Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="header-blue" style="height: 350px;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" style="font-family: 'DM Sans', sans-serif;font-weight: 800;font-size: 25px;" href="">Interview Response Forum</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-unlock-alt"></i>&nbsp; HOME</a></li>
                      {% if not user.is_authenticated %}
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i>&nbsp; &nbsp;LOGIN</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}"><i class="fa fa-sign-in"></i>&nbsp; SIGNUP</a></li>
                      {% else %}
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}"><i class="icon ion-ios-contact-outline"></i>&nbsp; Logged in as {{ user.username }}</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>&nbsp; LOGOUT</a></li>
                      {% endif %}
                    </ul>
            </div>
    </div>
    </nav>
    <div class="container">
        <div class="row" style="margin: 50px 15px 20px;">
            <div class="col" style="margin: 60px 40px 16px;">
                <p style="font-size: 25px;font-family: 'Encode Sans', sans-serif;margin: -21px -18px 10px;">Add your experience</p>
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="card" style="margin: 35px 0px 0px;">
            <div class="card-body" style="width:1080px ; height: auto;margin: 0px 0px 0px ;">
                <form method="post">
                    {% csrf_token%}
                    <div class="form-row">
                        <div class="col" style="width: auto;">
                            <div class="form-group" style="width: 500px;"><label>Company</label>{% render_field form.company class="border rounded-0 custom-select" style="width: 500px;" %}</div>
                            <div class="form-group" style="width: 500px;"><label>Job Profile</label>{% render_field form.profile class="border rounded-0 form-control" type="text" style="width: 500px;" %}</div>
                            <div class="form-group" style="width: 500px;"><label>Offer</label>{% render_field form.offer class="border rounded-0 form-control" type="number" style="width: 500px;" %}</div>
                        </div>
                        <div class="col" style="width: auto;">
                            <div class="form-group text-center" style="height: 66.5px;"><a class="btn btn-outline-info rounded-pill" role="button" style="margin: 30px 0px 0px; width:200px" href="{% url 'add_company' %}">Add Company</a></div>
                            <div class="form-group" style="width: 500px;"><label>Rounds</label>{% render_field form.rounds class="border rounded-0 form-control" type="number" style="width: 500px;" %}</div>
                            <div class="form-group" style="width: 500px;"><label>Rating</label>{% render_field form.rating class="border rounded-0 form-control" type="number" style="width: 500px;" %}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" style="width: 500px;"><label>Questions Asked</label>{% render_field form.questions class="border rounded-0" type="text" style="width: 1070px;height: 100px;" %}</div>
                            <div class="form-group" style="width: 500px;"><label>Your Review</label>{% render_field form.review class="border rounded-0" type="text" style="width: 1070px;height: 100px;" %}</div>
                        </div>
                    </div>
                    <div class="col text-center"><input class="btn btn-dark btn-lg rounded-pill btn-outline-success submitBtn" type="submit" name="submit" value="Submit" id="submit"></div>
                </form>
            </div>
        </div>
    </div>


    <footer style="margin: 60px 0px 0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3></h3>
                <p class="links" style="font-family: Cookie, cursive;font-size: 28px;font-weight: 500;margin: -25px -2px 5px;">InterviewResponseForum</p>
                <p class="company-name">Interview Response Forum © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span" style="font-family: Andika, sans-serif;">NIT Durgapur</span> Durgapur, India</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left" style="font-size: 16px;width: 145px;">+91 9433828328&nbsp;&nbsp;</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> </p>
                    <p>nikhilkumar654231@gmail.com</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Built and designed single-handedly, this is one of my first projects</p>
                <div class="social-links social-icons"><a href="https://github.com/kumanik5661/InterviewResponseForum"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>