{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Response List</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if not user.is_authenticated %}
    <a class="navbar-brand" href=" {% url 'index'  %} ">Home</a>
    <a class="navbar-brand" href=" {% url 'login'  %}">Login</a>
    <a class="navbar-brand" href=" {% url 'register'  %}">Signup</a>
    {% else %}
    <a class="navbar-brand" href=" {% url 'index'  %} ">Home</a>
    <a class="navbar-brand">Logged in as <strong>{{ user.get_username }}</strong> </a> 
    <a class="navbar-brand" href=" {% url 'logout'  %} ">Logout</a>
    <a class="navbar-brand" href=" {% url 'login'  %} ">Login as someone else</a>
    {% endif %}
  </nav>

  {% for response in responses%}
  <main role="main" class="container">
    <div class="jumbotron" style="background-color: rgb(189, 206, 252);" >
      <h2>{{ response.profile }} at {{ response.company }}</h2>
      
      <h3 class = "text-muted">Added by : {{ response.name }} </h3>  
      <a class="btn btn-outline-primary" style="background-color: rgb(223, 240, 255);"" href="{% url 'view_response' response.id %}" role="button">View response &raquo;</a>
      <div class="col-lg-0 col-sm-2" style="float:right;">
        <div class="row align-middle justify-content-center d-flex p-2">
          {% if response.name.pk == user.pk %}
            <p class="small" style="vertical-align: middle;">
            <a href="{% url 'delete_response' response.id %}" class="text-muted">Delete</a>
            <a href="{% url 'update_response' response.id %}" class="text-muted">Edit</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <br><br>
  {% endfor %}
    <div style="font-family: monospace; align-content: center;">
    {% if responses.has_other_pages %}
      <nav aria-label="page navigation container">
        <ul class="pagination justify-content-center">
          {% if responses.has_previous %}
            <li><a href="?page={{ responses.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if responses.has_next %}
            <li><a href="?page={{ responses.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
</body>
</html>
{% endblock %}